In [156]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [68]:
data = pd.read_csv('users_data.csv', encoding = "ISO-8859-1")

In [69]:
data.shape

(240, 5)

In [70]:
data.head()

,user_name,full_name,num_posts,num_followers,num_followings
0,wqwqwq12345w,1998,0.0,1,12.0
1,soymuyfalsa,soy muy falsa,5.0,62,1.0
2,andrea_bordon_,andrea bordon,1.0,132,78.0
3,@ndah.endah.3701,@ndah.endah.3701 äó¢ Instagram photos and videos,3.0,798,138.0
4,jolsuperstar_tz,jolsuperstartz,66.0,494,195.0

In [71]:
data.isnull().sum()

user_name          0
full_name         42
num_posts         42
num_followers     42
num_followings    42
dtype: int64

In [72]:
data_no_nan = data[data.iloc[:,0] != 'Error']

In [73]:
data_no_nan.head()

,user_name,full_name,num_posts,num_followers,num_followings
0,wqwqwq12345w,1998,0.0,1,12.0
1,soymuyfalsa,soy muy falsa,5.0,62,1.0
2,andrea_bordon_,andrea bordon,1.0,132,78.0
3,@ndah.endah.3701,@ndah.endah.3701 äó¢ Instagram photos and videos,3.0,798,138.0
4,jolsuperstar_tz,jolsuperstartz,66.0,494,195.0

In [86]:
data_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 0 to 200
Data columns (total 5 columns):
user_name         198 non-null object
full_name         198 non-null object
num_posts         198 non-null float64
num_followers     198 non-null object
num_followings    198 non-null float64
dtypes: float64(2), object(3)
memory usage: 9.3+ KB

In [75]:
data_no_nan.columns

Index(['user_name', 'full_name', 'num_posts', 'num_followers',
       'num_followings'],
      dtype='object')

In [121]:
data_no_nan.iloc[183,3]

'22.7k'

NameError: name 'ddata_no_nan' is not defined

In [141]:
data_no_nan['num_followers_float'] = data_no_nan.apply(lambda row: float(row[3].replace('k', 'e3')), axis=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [142]:
data_no_nan

,user_name,full_name,num_posts,num_followers,num_followings,num_followers_float
0,wqwqwq12345w,1998,0.0,1,12.0,1.0
1,soymuyfalsa,soy muy falsa,5.0,62,1.0,62.0
2,andrea_bordon_,andrea bordon,1.0,132,78.0,132.0
3,@ndah.endah.3701,@ndah.endah.3701 äó¢ Instagram photos and videos,3.0,798,138.0,798.0
4,jolsuperstar_tz,jolsuperstartz,66.0,494,195.0,494.0
5,wisnuhdyat33,WisnuHidayat,5.0,552,252.0,552.0
6,adiukulelo87,_ñ_ñ__ñ_ _ñ__ñÇ_ñ__ñµ_ñ¬_ñµ_ñ,27.0,9438,6989.0,9438.0
7,edupdv04,Eduard Puigdevall,303.0,1705,434.0,1705.0
8,segaid98,Sega ID98,17.0,274,210.0,274.0
9,reza.aliakber,Reza Aliakbar,2.0,75,168.0,75.0
10,dairo_p10,Dairo Perez ))ÁÁ/M((,78.0,358,163.0,358.0
11,zj.2_,ø±øÈø_ ø_øÂøµø±ø__,1.0,5757,602.0,5757.0
12,djgiulilocatti,Giuli Locatti Mascareí±o _ô¬_ô_,67.0,4808,4881.0,4808.0
13,fabiiojr,Fabio A._ô¬_ô_,30.0,1726,996.0,1726.0
14,kbenitok,Erico Benito,59.0,8193,25.0,8193.0
15,yuliagarciafer,Julia,345.0,7204,78.0,7204.0
16,firsov1996,___ãóã____ _î___ããó___,20.0,89,4761.0,89.0
17,fmsoft.co.za,FMsoft,5.0,82,39.0,82.0
18,francy_lanzetta,kekka lanzetta,2.0,229,677.0,229.0
19,sambelnya_pisah,Pangkur Jagat Aldian,28.0,450,328.0,450.0
20,miguelrill98,Miguel_ôÍ¿,9.0,677,292.0,677.0
21,graf_kherson,Vladik _ô_,70.0,3853,152.0,3853.0
22,gineuse,YT,10.0,1924,76.0,1924.0
23,brisbris,Giovanni Farris,54.0,1286,268.0,1286.0
24,adiosplastico,ADIíñS PLíSTICO BY BIOTIME,20.0,146,161.0,146.0
26,@chrismainahperre,@chrismainahperre äó¢ Instagram photos and videos,0.0,0,2.0,0.0
27,nisanur4266,Nisanur í_zata,1.0,6,77.0,6.0
28,ojo_olaiya_wahab,ojo olaiya wahab,0.0,1,118.0,1.0
29,ph.page_ferro,PHOTOGRAPHER PAGE,6.0,90,386.0,90.0
30,nadia.lehmann.18,Nadia Lehmann,13.0,1091,291.0,1091.0
...,...,...,...,...,...,...
171,iklhnmlfc.90,ikranur,0.0,60,227.0,60.0
172,__im_amit__,Amit Amit,67.0,381,3203.0,381.0
173,skylar_aaesthetic,Skylars aestheetic,9.0,9,29.0,9.0
174,andoboce,Ando bocell,28.0,295,1200.0,295.0
175,cullamandu59_96,Muhammad Nasrullah,5.0,279,349.0,279.0
176,@shyrose_cut,@shyrose_cut äó¢ Instagram photos and videos,7.0,4249,65.0,4249.0
177,nurdan.akdemir,Nurdan AKDEMÛÁR,1.0,10,172.0,10.0
178,slavik_sorokin7733,s¾ôàÇóàÇæÄÈàÇ sàÇ¾óàÇàÇÄÈÄÇ,2.0,167,73.0,167.0
179,mr.nikhil.malik,Nikhil Malik¬ (ÎÁ_ÎÎÁî_©åÎ©Î),52.0,644,182.0,644.0
180,tufan95_,Mustafa Monther,838.0,11k,1173.0,11000.0
181,skreeeph_,skreeeph,0.0,8,33.0,8.0
182,hawin_grams,HawinGrams,1.0,114,178.0,114.0
183,bout_hein_a,Kra Lií_e,1.0,17,109.0,17.0
184,abusaliim.aladawi,abusaliim,172.0,1904,1942.0,1904.0
185,izabelasoares_1,I Z A B E L A S O A R E S,12.0,4300,271.0,4300.0
186,manuel.ottoboni,Manuel Ottoboni _ô_,148.0,22.7k,507.0,22700.0
187,atalay_icbay,Atalay ÛÁíBAY,1.0,10,92.0,10.0
188,ninaroma26,black&white,1.0,0,2.0,0.0
189,guevaraanderson78,andersonguevara,0.0,11,126.0,11.0
190,roycom4,Roynaldi Saputra,93.0,1786,559.0,1786.0
191,_.anshuman,Anshuman Panda,48.0,1034,143.0,1034.0
192,zeroday_band,ZERODAY,304.0,2147,294.0,2147.0
193,nicolasoliveira.21,ä_ç - Nicolas Oliveira,22.0,486,241.0,486.0
194,zachpearsonphoto,Zach Pearson,98.0,767,3038.0,767.0
195,dobedo_40_,Dobedo,13.0,105,189.0,105.0
196,batiksabang,Batik Sabang,2432.0,9477,3993.0,9477.0
197,figeraj,Joshua Figera,0.0,3,15.0,3.0
198,ozlemkaplan38,Ozlem Kaplan,1.0,10,234.0,10.0
199,janah1253,@janah12,0.0,1,4.0,1.0
200,luciapiovaroli98,lucia,47.0,135,360.0,135.0

In [143]:
#eval(data_no_nan.iloc[183,3].replace('k', '*10**3'))

In [145]:
data_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 0 to 200
Data columns (total 6 columns):
user_name              198 non-null object
full_name              198 non-null object
num_posts              198 non-null float64
num_followers          198 non-null object
num_followings         198 non-null float64
num_followers_float    198 non-null float64
dtypes: float64(3), object(3)
memory usage: 20.8+ KB

In [150]:
data_no_nan['following_follower_ratio'] = data_no_nan['num_followings'] / (data_no_nan['num_followers_float'] +1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [154]:
data_no_nan.describe()

,num_posts,num_followings,num_followers_float,following_follower_ratio
count,198.000000,198.000000,198.000000,198.000000
mean,64.126263,581.409091,1569.520202,9.370692
std,215.933810,1182.614285,3585.421366,62.306907
min,0.000000,1.000000,0.000000,0.003051
25%,1.000000,63.250000,8.000000,0.318273
50%,4.500000,189.000000,155.000000,1.535818
75%,27.750000,461.500000,1018.750000,5.024477
max,2432.000000,7343.000000,24200.000000,872.800000

In [155]:
data_no_nan[data_no_nan['following_follower_ratio'] == 872.800000]

,user_name,full_name,num_posts,num_followers,num_followings,num_followers_float,following_follower_ratio
117,bs88888m,Snapä_¥g888s8,0.0,4,4364.0,4.0,872.8